.TodoItem {
  align-items: center;
  border-bottom: 1px solid #999;
  cursor: pointer;
  display: flex;
  height: 3em;
  justify-content: space-between;
  user-select: none;
}

.TodoItem--done .TodoItem__text {
  color: #999;
  text-decoration: line-through;
}

.TodoItem__text {
  display: inline-block;
  font-size: 18px;
  padding-left: 2px;
}

.TodoItem__delete-button {
  background-color: transparent;
  border: 0;
  color: #666;
  cursor: pointer;
  display: block;
  float: right;
  opacity: 0;
  padding: 10px;
  font-size: 25px;
  transition: all .1s ease-out;
}

.TodoItem__delete-button:focus {
  outline: 0;
}

.TodoItem:hover .TodoItem__delete-button,
.TodoItem:focus .TodoItem__delete-button {
  opacity: 1;
}
