.App__header {
  background: linear-gradient(to right, #222, #444);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.App__heading {
  margin: 0;
}

.App__content {
  margin: 10px auto;
  max-width: 800px;
  padding: 0 10px;
}
